<div>
  <h2>Register</h2>
  <form>
    <label>Name</label>
    <input type="text" name="name">
    <label>E-mail</label>
    <input type="text" name="email">
    <label>Password</label>
    <input type="text" name="password">
    <label>Confirm Password</label>
    <input type="text" name="confirm_password">
    <input type="submit" value="register">
  </form>
</div>