<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <nav>
    <p>Node.js</p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </nav>
  <h1>Node.js</h1>
  <%- body %>
</body>

</html>